* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  src: url("../fonts/proximaNova/ProximaNova-Regular.eot?") format("eot"), url("../fonts/proximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/proximaNova/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  src: url("../fonts/proximaNova/ProximaNova-Bold.eot?") format("eot"), url("../fonts/proximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/proximaNova/ProximaNova-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 400;
  src: url("../fonts/circularStd/CircularStd-Book.eot?") format("eot"), url("../fonts/circularStd/CircularStd-Book.ttf") format("truetype"), url("../fonts/circularStd/CircularStd-Book.woff") format("woff"), url("../fonts/circularStd/CircularStd-Book.woff2") format("woff2");
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 500;
  src: url("../fonts/circularStd/CircularStd-Medium.eot?") format("eot"), url("../fonts/circularStd/CircularStd-Medium.ttf") format("truetype"), url("../fonts/circularStd/CircularStd-Medium.woff") format("woff"), url("../fonts/circularStd/CircularStd-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 700;
  src: url("../fonts/circularStd/CircularStd-Bold.eot?") format("eot"), url("../fonts/circularStd/CircularStd-Bold.ttf") format("truetype"), url("../fonts/circularStd/CircularStd-Bold.woff") format("woff"), url("../fonts/circularStd/CircularStd-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 700;
  src: url("../fonts/josefinSans/JosefinSans-Bold.eot?") format("eot"), url("../fonts/josefinSans/JosefinSans-Bold.ttf") format("truetype"), url("../fonts/josefinSans/JosefinSans-Bold.woff") format("woff"), url("../fonts/josefinSans/JosefinSans-Bold.woff2") format("woff2");
}

h1 {
  font-family: 'Circular Std';
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
  color: #56597A;
}

h2 {
  font-family: 'Circular Std';
  font-size: 52px;
  font-weight: 700;
  line-height: 1.19;
  color: #56597A;
}

h3 {
  font-family: 'Circular Std';
  font-size: 34px;
  font-weight: 500;
  line-height: 1.19;
  color: #56597A;
}

h4 {
  font-family: 'Circular Std';
  font-size: 28px;
  font-weight: 500;
  line-height: 1.19;
  color: #F78CB6;
}

h5 {
  font-family: 'ProximaNova';
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  color: #56597A;
}

h6 {
  font-family: 'Circular Std';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.07rem;
  color: #56597A;
}

p {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.04rem;
  color: #919299;
}

*,
*::before,
*::after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

html {
  font-size: 10px;
}

body {
  height: auto;
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #919299;
  background-color: #fdfdfd;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/wrapper/bg-1.svg) top right/800px 790px no-repeat, url(../img/wrapper/bg-2.svg) top 640px left -200px/374px 390px no-repeat, url(../img/wrapper/bg-3.svg) top 1960px right -166px/330px 350px no-repeat, url(../img/wrapper/bg-2.svg) top 2750px left -200px/374px 390px no-repeat, url(../img/wrapper/bg-4.svg) top 3826px right -230px/430px no-repeat;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  font-family: 'Josefin Sans';
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #56597A;
  display: block;
}

.logo span {
  color: #F78CB6;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__item {
  margin-right: 70px;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.nav__link {
  font-family: 'Circular Std';
  font-size: 20px;
  font-weight: 500;
  color: #AAAAAB;
}

.nav__link.active {
  color: #56597A;
}

.burger {
  width: 24px;
  height: 24px;
  background-color: #AAAAAB;
  -webkit-mask: url(../img/icons/burger.svg) center/contain no-repeat;
          mask: url(../img/icons/burger.svg) center/contain no-repeat;
}

.link {
  font-family: 'Circular Std';
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04rem;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  padding: 18px 85px 18px 22px;
  -webkit-box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
          box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
  background-color: #F78CB6;
  border-radius: 4px;
}

.link::after {
  content: '';
  display: block;
  width: 43px;
  height: 32px;
  position: absolute;
  right: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icons/link.svg) center/contain no-repeat;
}

.link--small {
  padding: 14px 70px 14px 16px;
}

.link--small::after {
  width: 38px;
  height: 28px;
  right: 16px;
}

.card {
  width: 270px;
  padding: 20px;
  border-radius: 8px;
  background-color: #FFF1F9;
  -webkit-box-shadow: 2px 2px 4px rgba(193, 193, 193, 0.3);
          box-shadow: 2px 2px 4px rgba(193, 193, 193, 0.3);
  text-align: center;
}

.card:nth-of-type(1) .card__img {
  -webkit-mask-image: url(../img/icons/card-1.svg);
          mask-image: url(../img/icons/card-1.svg);
  -webkit-mask-size: 50px 50px;
          mask-size: 50px 50px;
}

.card:nth-of-type(2) .card__img {
  -webkit-mask-image: url(../img/icons/card-2.svg);
          mask-image: url(../img/icons/card-2.svg);
  -webkit-mask-size: 43px 43px;
          mask-size: 43px 43px;
}

.card:nth-of-type(3) .card__img {
  -webkit-mask-image: url(../img/icons/card-3.svg);
          mask-image: url(../img/icons/card-3.svg);
  -webkit-mask-size: 48px 48px;
          mask-size: 48px 48px;
}

.card:nth-of-type(4) .card__img {
  -webkit-mask-image: url(../img/icons/card-4.svg);
          mask-image: url(../img/icons/card-4.svg);
  -webkit-mask-size: 44px 44px;
          mask-size: 44px 44px;
}

.card__img {
  margin-bottom: 18px;
  width: 100%;
  height: 120px;
  background-color: #F78CB6;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.card__title {
  margin-bottom: 16px;
}

.card__text {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  margin-bottom: 26px;
}

.card__link {
  display: none;
  position: relative;
  padding-right: 14px;
  font-family: 'Circular Std';
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
}

.card__link::after {
  content: '';
  display: block;
  width: 7px;
  height: 13px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-38%);
          transform: translateY(-38%);
  background: url(../img/icons/traingle.svg) center/contain no-repeat;
}

.card:hover {
  min-height: 344px;
  background-color: #F78CB6;
  -webkit-box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
          box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
}

.card:hover .card__img {
  background-color: #FFFFFF;
}

.card:hover .card__title,
.card:hover .card__text {
  color: #FFFFFF;
}

.card:hover .card__text {
  margin-bottom: 30px;
}

.card:hover .card__link {
  display: inline-block;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__btn {
  width: 25px;
  height: 25px;
  pointer-events: none;
  background-color: rgba(86, 89, 122, 0.6);
  -webkit-mask-image: url(../img/icons/arrow.svg);
          mask-image: url(../img/icons/arrow.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 14px 9px;
          mask-size: 14px 9px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.slider__btn.active {
  background-color: #F78CB6;
  -webkit-mask-size: 19px 11px;
          mask-size: 19px 11px;
  pointer-events: all;
}

.slider__btn:nth-of-type(1) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 6px;
}

.emailform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  max-width: 700px;
  -webkit-box-shadow: 20px 20px 40px rgba(145, 146, 153, 0.25);
          box-shadow: 20px 20px 40px rgba(145, 146, 153, 0.25);
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 14px 14px 14px 60px;
}

.emailform__input {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  color: #919299;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-right: 20px;
}

.emailform__input::-webkit-input-placeholder {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  color: #D2D2D2;
}

.emailform__input:-ms-input-placeholder {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  color: #D2D2D2;
}

.emailform__input::-ms-input-placeholder {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  color: #D2D2D2;
}

.emailform__input::placeholder {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  color: #D2D2D2;
}

.emailform__btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.emailform::before {
  content: '';
  width: 19px;
  height: 19px;
  position: absolute;
  left: 27px;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  background: url(../img/icons/mail.svg) center/contain no-repeat;
}

.lang {
  position: relative;
  padding-left: 41px;
}

.lang::before {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icons/lang.svg) center/contain no-repeat;
}

.lang .lang__select {
  font-family: 'Circular Std';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  color: #FFFFFF;
  padding-right: 13px;
  cursor: pointer;
  background-color: transparent;
  background: url(../img/icons/lang__arrow.svg) right top 60%/8px 8px no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  width: 41px;
  height: 41px;
  margin-right: 11px;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 10px rgba(145, 146, 153, 0.25);
          box-shadow: 5px 5px 10px rgba(145, 146, 153, 0.25);
}

.social__item:last-of-type {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #919299;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.social__link--inst {
  -webkit-mask-size: 22px 22px;
          mask-size: 22px 22px;
  -webkit-mask-image: url(../img/social/instagram.svg);
          mask-image: url(../img/social/instagram.svg);
}

.social__link--tw {
  -webkit-mask-size: 25px 26px;
          mask-size: 25px 26px;
  -webkit-mask-image: url(../img/social/twitter.svg);
          mask-image: url(../img/social/twitter.svg);
}

.social__link--yt {
  -webkit-mask-size: 24px 24px;
          mask-size: 24px 24px;
  -webkit-mask-image: url(../img/social/youtube.svg);
          mask-image: url(../img/social/youtube.svg);
}

.social__link--fb {
  -webkit-mask-size: 21px 21px;
          mask-size: 21px 21px;
  -webkit-mask-image: url(../img/social/facebook.svg);
          mask-image: url(../img/social/facebook.svg);
}

.social__link:hover {
  background-color: #F78CB6;
}

.link-box__title {
  margin-bottom: 38px;
}

.link-box__item {
  margin-bottom: 25px;
}

.link-box__item:last-of-type {
  margin-bottom: 0;
}

.link-box__link {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.header {
  margin-bottom: 112px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-right: 70px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 160px;
}

.home {
  margin-bottom: 146px;
}

.home__container {
  padding-bottom: 50px;
  padding-top: 18px;
  background: url(../img/home/home__bg.svg) right 74px top 0px/contain no-repeat;
}

.home__suptitle {
  margin-bottom: 32px;
}

.home__suptitle::before {
  content: '';
  display: inline-block;
  margin-right: 7px;
  width: 36px;
  height: 3px;
  background-color: #F78CB6;
}

.home__title {
  max-width: 600px;
  margin-bottom: 30px;
}

.home__text {
  max-width: 540px;
  margin-bottom: 50px;
}

.services {
  margin-bottom: 180px;
}

.services__container {
  text-align: center;
}

.services__suptitle {
  margin-bottom: 14px;
}

.services__title {
  margin-bottom: 62px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  min-height: 360px;
}

.design {
  margin-bottom: 194px;
}

.design__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design__bg {
  width: 610px;
  height: 470px;
  margin-right: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../img/design/design__bg.png) center/contain no-repeat;
}

.design__suptitle {
  margin-bottom: 20px;
}

.design__title {
  margin-bottom: 24px;
}

.design__text {
  letter-spacing: 0;
  margin-bottom: 36px;
}

.teamwork {
  margin-bottom: 204px;
}

.teamwork__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.teamwork__bg {
  width: 590px;
  height: 590px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../img/team-work/team_work_bg.svg) center/contain no-repeat;
}

.teamwork__content {
  margin-right: 70px;
  padding-top: 90px;
}

.teamwork__suptitle {
  margin-bottom: 18px;
}

.teamwork__title {
  margin-bottom: 24px;
}

.teamwork__text {
  letter-spacing: 0;
  margin-bottom: 34px;
}

.testimonial {
  margin-bottom: 214px;
}

.testimonial__cotainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.testimonial__bg {
  width: 420px;
  height: 420px;
  margin-right: 130px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
  background: url(../img/testimonial/testimonial__bg.svg) center/308px 350px no-repeat, #F78CB6;
  -webkit-box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
          box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
}

.testimonial__content {
  max-width: 510px;
}

.testimonial__suptitle {
  margin-bottom: 20px;
}

.testimonial__title {
  margin-bottom: 38px;
}

.testimonial__text {
  letter-spacing: 0;
  max-width: 400px;
  margin-bottom: 34px;
}

.testimonial__name {
  margin-bottom: 8px;
}

.testimonial__region {
  font-size: 16px;
  font-weight: 400;
  color: #AAAAAB;
  letter-spacing: 0;
}

.testimonial__slider {
  position: absolute;
  right: 70px;
  bottom: 0;
}

.brands {
  margin-bottom: 160px;
}

.brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__link {
  width: 200px;
  height: 60px;
  display: block;
  background-color: #c1c1c1;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.brands__link--ferrari {
  -webkit-mask-image: url(../img/brands/ferrari.svg);
          mask-image: url(../img/brands/ferrari.svg);
  -webkit-mask-size: 158px;
          mask-size: 158px;
}

.brands__link--microsoft {
  -webkit-mask-image: url(../img/brands/microsoft.svg);
          mask-image: url(../img/brands/microsoft.svg);
  -webkit-mask-size: 195px;
          mask-size: 195px;
}

.brands__link--ng {
  -webkit-mask-image: url(../img/brands/nat-geo.svg);
          mask-image: url(../img/brands/nat-geo.svg);
  -webkit-mask-size: 143px;
          mask-size: 143px;
}

.brands__link--deloitte {
  -webkit-mask-image: url(../img/brands/deloitte.svg);
          mask-image: url(../img/brands/deloitte.svg);
  -webkit-mask-size: 178px;
          mask-size: 178px;
}

.brands__link--google {
  -webkit-mask-image: url(../img/brands/google.svg);
          mask-image: url(../img/brands/google.svg);
  -webkit-mask-size: 180px;
          mask-size: 180px;
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.subscribe__title {
  margin-bottom: 24px;
}

.subscribe__text {
  letter-spacing: 0;
  text-align: center;
  max-width: 540px;
  margin-bottom: 38px;
}

.subscribe__bg {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -30px;
  left: -82px;
  background: url(../img/subscribe/subscribe__bg.svg) center/contain no-repeat;
}

.footer__top {
  background: url(../img/footer/bg.svg) top/cover no-repeat;
}

.footer__bottom {
  padding: 13px 0;
  background-color: #F78CB6;
}

.footer__container--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 68px;
  padding-bottom: 50px;
}

.footer__container--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  font-size: 36px;
  letter-spacing: 0.07rem;
  margin-bottom: 34px;
}

.footer__address {
  margin-bottom: 38px;
}

.footer__title {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 700;
  color: #919299;
  margin-bottom: 16px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__link-box {
  margin-right: 167px;
}

.footer__link-box:last-of-type {
  margin-right: 0;
}

.footer__copyright {
  font-family: 'Circular Std';
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 20px;
  position: relative;
}

.footer__copyright::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/icons/cr.svg) center/13px 13px no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__lang {
  margin-right: 50px;
}
