* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  src: url("../fonts/proximaNova/ProximaNova-Regular.eot?") format("eot"), url("../fonts/proximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/proximaNova/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  src: url("../fonts/proximaNova/ProximaNova-Bold.eot?") format("eot"), url("../fonts/proximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/proximaNova/ProximaNova-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 400;
  src: url("../fonts/circularStd/CircularStd-Book.eot?") format("eot"), url("../fonts/circularStd/CircularStd-Book.ttf") format("truetype"), url("../fonts/circularStd/CircularStd-Book.woff") format("woff"), url("../fonts/circularStd/CircularStd-Book.woff2") format("woff2");
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 500;
  src: url("../fonts/circularStd/CircularStd-Medium.eot?") format("eot"), url("../fonts/circularStd/CircularStd-Medium.ttf") format("truetype"), url("../fonts/circularStd/CircularStd-Medium.woff") format("woff"), url("../fonts/circularStd/CircularStd-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 700;
  src: url("../fonts/circularStd/CircularStd-Bold.eot?") format("eot"), url("../fonts/circularStd/CircularStd-Bold.ttf") format("truetype"), url("../fonts/circularStd/CircularStd-Bold.woff") format("woff"), url("../fonts/circularStd/CircularStd-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 700;
  src: url("../fonts/josefinSans/JosefinSans-Bold.eot?") format("eot"), url("../fonts/josefinSans/JosefinSans-Bold.ttf") format("truetype"), url("../fonts/josefinSans/JosefinSans-Bold.woff") format("woff"), url("../fonts/josefinSans/JosefinSans-Bold.woff2") format("woff2");
}

h1 {
  font-family: 'Circular Std';
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
  color: #56597A;
}

h2 {
  font-family: 'Circular Std';
  font-size: 52px;
  font-weight: 700;
  line-height: 1.19;
  color: #56597A;
}

h3 {
  font-family: 'Circular Std';
  font-size: 34px;
  font-weight: 500;
  line-height: 1.19;
  color: #56597A;
}

h4 {
  font-family: 'Circular Std';
  font-size: 28px;
  font-weight: 500;
  line-height: 1.19;
  color: #F78CB6;
}

p {
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.04rem;
  color: #919299;
}

*,
*::before,
*::after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

html {
  font-size: 10px;
}

body {
  height: auto;
  font-family: 'ProximaNova';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #919299;
  background-color: #fdfdfd;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/wrapper/bg-1.svg) top right/800px 790px no-repeat;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.link {
  font-family: 'Circular Std';
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04rem;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  padding: 18px 85px 18px 22px;
  -webkit-box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
          box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
  background-color: #F78CB6;
  border-radius: 4px;
}

.link::after {
  content: '';
  display: block;
  width: 43px;
  height: 32px;
  position: absolute;
  right: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icons/link.svg) center/contain no-repeat;
}

.card {
  width: 270px;
  padding: 20px;
  border-radius: 8px;
  background-color: #FFF1F9;
  text-align: center;
}

.card__img {
  margin-bottom: 18px;
  width: 100%;
  height: 120px;
  background-color: #F78CB6;
  -webkit-mask-image: url(../img/icons/card-1.svg);
          mask-image: url(../img/icons/card-1.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 50px 50px;
          mask-size: 50px 50px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.card__title {
  margin-bottom: 16px;
}

.card__text {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  margin-bottom: 26px;
}

.card__link {
  display: none;
  position: relative;
  padding-right: 14px;
  font-family: 'Circular Std';
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
}

.card__link::after {
  content: '';
  display: block;
  width: 7px;
  height: 13px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-38%);
          transform: translateY(-38%);
  background: url(../img/icons/traingle.svg) center/contain no-repeat;
}

.card:hover {
  min-height: 344px;
  background-color: #F78CB6;
  -webkit-box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
          box-shadow: 10px 10px 20px rgba(247, 140, 182, 0.2);
}

.card:hover .card__img {
  background-color: #FFFFFF;
}

.card:hover .card__title,
.card:hover .card__text {
  color: #FFFFFF;
}

.card:hover .card__text {
  margin-bottom: 30px;
}

.card:hover .card__link {
  display: inline-block;
}

.header {
  margin-bottom: 104px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 56px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-right: 70px;
}

.logo {
  font-family: 'Josefin Sans';
  font-size: 30px;
  font-weight: 700;
  color: #56597A;
}

.logo span {
  color: #F78CB6;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__item {
  margin-right: 70px;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.nav__link {
  font-family: 'Circular Std';
  font-size: 20px;
  font-weight: 500;
  color: #AAAAAB;
}

.nav__link.active {
  color: #56597A;
}

.burger {
  width: 24px;
  height: 24px;
  background-color: #AAAAAB;
  -webkit-mask: url(../img/icons/burger.svg) center/contain no-repeat;
          mask: url(../img/icons/burger.svg) center/contain no-repeat;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home {
  margin-bottom: 146px;
}

.home__container {
  padding-bottom: 50px;
  padding-top: 18px;
  background: url(../img/home/home__bg.svg) right 74px top 0px/contain no-repeat;
}

.home__suptitle {
  margin-bottom: 32px;
}

.home__suptitle::before {
  content: '';
  display: inline-block;
  margin-right: 7px;
  width: 36px;
  height: 3px;
  background-color: #F78CB6;
}

.home__title {
  max-width: 600px;
  margin-bottom: 30px;
}

.home__text {
  max-width: 540px;
  margin-bottom: 50px;
}

.services__container {
  text-align: center;
}

.services__suptitle {
  margin-bottom: 14px;
}

.services__title {
  margin-bottom: 62px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer {
  height: 200px;
}
