// * == Vars ==

$Purple: #56597A;
$Pink: #F78CB6;
$Pink-Light: #FFF1F9;
$Gray: #919299;
$Gray2:#D2D2D2;
$Gray-Light: #AAAAAB;
$GrayExtra-Light:#c1c1c1;
$MainBg: #fdfdfd;
$White: #FFFFFF;

$PinkShadow: 10px 10px 20px rgba($Pink, 0.2);

$LighGrayShadow: 2px 2px 4px rgba($GrayExtra-Light, 0.3);

$GrayShadow: 20px 20px 40px rgba($Gray, 0.25);

$MainTrans: all .2s ease;

// * == Headings & Text ==

h1 {
	font-family: 'Circular Std';
	font-size: 64px;
	font-weight: 700;
	line-height: 1.16;
	color: $Purple;
}

h2 {
	font-family: 'Circular Std';
	font-size: 52px;
	font-weight: 700;
	line-height: 1.19;
	color: $Purple;
}

h3 {
	font-family: 'Circular Std';
	font-size: 34px;
	font-weight: 500;
	line-height: 1.19;
	color: $Purple;
}

h4 {
	font-family: 'Circular Std';
	font-size: 28px;
	font-weight: 500;
	line-height: 1.19;
	color: $Pink;
}

h5 {
	font-family: 'ProximaNova';
	font-size: 28px;
	font-weight: 700;
	line-height: 1.14;
	color: $Purple;
}

p {
	font-family: 'ProximaNova';
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0.04rem;
	color: $Gray;
}

// * == Blocks ==

*,
*::before,
*::after {
	transition: $MainTrans;
}

html {
	font-size: 10px;
}

body {
	height: auto;

	font-family: 'ProximaNova';
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
	color: $Gray;

	background-color: $MainBg;
}

.wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	background:
	url(../img/wrapper/bg-1.svg) top right / 800px 790px no-repeat,
	url(../img/wrapper/bg-2.svg) top 640px left -200px / 374px 390px no-repeat,
	url(../img/wrapper/bg-3.svg) top 1960px right -166px / 330px 350px no-repeat,
	url(../img/wrapper/bg-2.svg) top 2750px left -200px / 374px 390px no-repeat,
	url(../img/wrapper/bg-4.svg) top 3826px right -230px / 430px no-repeat;
}

.container {
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
}

.link {
	font-family: 'Circular Std';
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.04rem;
	color: $White;

	display: inline-block;

	position: relative;

	padding: 18px 85px 18px 22px;

	box-shadow: $PinkShadow;

	background-color: $Pink;
	border-radius: 4px;

	&::after {
		content: '';
		display: block;
		width: 43px;
		height: 32px;

		position: absolute;
		right: 22px;
		top: 50%;
		transform: translateY(-50%);

		background: url(../img/icons/link.svg)center / contain no-repeat;
	}

	&--small {
		padding: 14px 70px 14px 16px;

		&::after {
			width: 38px;
			height: 28px;
			right: 16px;
		}
	}
}

.card {
	width: 270px;

	padding: 20px;

	border-radius: 8px;
	background-color: $Pink-Light;

	box-shadow: $LighGrayShadow;

	text-align: center;

	&:nth-of-type(1) {
		.card__img {
			mask-image: url(../img/icons/card-1.svg);
			mask-size: 50px 50px;
		}
	}
	&:nth-of-type(2) {
		.card__img {
			mask-image: url(../img/icons/card-2.svg);
			mask-size: 43px 43px;
		}
	}
	&:nth-of-type(3) {
		.card__img {
			mask-image: url(../img/icons/card-3.svg);
			mask-size: 48px 48px;
		}
	}
	&:nth-of-type(4) {
		.card__img {
			mask-image: url(../img/icons/card-4.svg);
			mask-size: 44px 44px;
		}
	}

	&__img {
		margin-bottom: 18px;

		width: 100%;
		height: 120px;

		background-color: $Pink;
		mask-position: center;
		mask-repeat: no-repeat;
	}

	&__title {
		margin-bottom: 16px;
	}
	
	&__text {
		font-size: 16px;
		letter-spacing: 0;
		line-height: 1.5;
		margin-bottom: 26px;
	}

	&__link {
		display: none;

		position: relative;

		padding-right: 14px;

		font-family: 'Circular Std';
		font-size: 20px;
		font-weight: 500;
		color: $White;


		&::after {
			content: '';
			display: block;
			width: 7px;
			height: 13px;

			position: absolute;
			right: 0;
			top: 50%;

			transform: translateY(-38%);

			background: url(../img/icons/traingle.svg) center / contain no-repeat;
		}
	}

	&:hover {
		min-height: 344px;

		background-color: $Pink;

		box-shadow: $PinkShadow;

		.card__img {
			background-color: $White;
		}

		.card__title,
		.card__text {
			color: $White;
		}

		.card__text {
			margin-bottom: 30px;
		}

		.card__link {
			display: inline-block;
		}
	}
}

.slider {
	display: flex;
	flex-direction: row;
	align-items: center;

	&__btn {

		width: 25px;
		height: 25px;

		pointer-events: none;

		background-color: rgba($Purple, 0.6);

		mask-image: url(../img/icons/arrow.svg);
		mask-position: center;
		mask-size: 14px 9px;
		mask-repeat: no-repeat;

		&.active {
			background-color: $Pink;

			mask-size: 19px 11px;

			pointer-events: all;
		}

		&:nth-of-type(1) {
			transform: rotate(180deg);

			margin-right: 6px;
		}
	}
}

.emailform {
	display: flex;
	flex-direction: row;
	align-items: center;

	position: relative;

	width: 100%;
	max-width: 700px;

	box-shadow: $GrayShadow;
	background-color: $White;

	border-radius: 4px;
	padding: 14px 14px 14px 60px;

	&__input {
		font-family: 'ProximaNova';
		font-size: 20px;
		font-weight: 400;
		color: $Gray;

		flex-basis: 100%;

		margin-right: 20px;

		&::placeholder {
			font-family: 'ProximaNova';
			font-size: 20px;
			font-weight: 400;
			color: $Gray2;
		}
	}

	&__btn {
		flex-shrink: 0;
	}

	&::before {
		content: '';
		width: 19px;
		height: 19px;

		position: absolute;
		left: 27px;
		top: 50%;
		transform: translateY(-40%);

		background: url(../img/icons/mail.svg) center / contain no-repeat;
	}
}