// ? == ProximaNova ==

@font-face {
	font-family: 'ProximaNova';
	font-weight: 400;
	src: 	url('../fonts/proximaNova/ProximaNova-Regular.eot?') format('eot'),
			url('../fonts/proximaNova/ProximaNova-Regular.ttf') format('truetype'),
			url('../fonts/proximaNova/ProximaNova-Regular.woff') format('woff'),
			url('../fonts/proximaNova/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'ProximaNova';
	font-weight: 700;
	src: 	url('../fonts/proximaNova/ProximaNova-Bold.eot?') format('eot'),
			url('../fonts/proximaNova/ProximaNova-Bold.ttf') format('truetype'),
			url('../fonts/proximaNova/ProximaNova-Bold.woff') format('woff'),
			url('../fonts/proximaNova/ProximaNova-Bold.woff2') format('woff2');
}

// ? == Circular Std ==

@font-face {
	font-family: 'Circular Std';
	font-weight: 400;
	src: 	url('../fonts/circularStd/CircularStd-Book.eot?') format('eot'),
			url('../fonts/circularStd/CircularStd-Book.ttf') format('truetype'),
			url('../fonts/circularStd/CircularStd-Book.woff') format('woff'),
			url('../fonts/circularStd/CircularStd-Book.woff2') format('woff2');
}

@font-face {
	font-family: 'Circular Std';
	font-weight: 500;
	src: 	url('../fonts/circularStd/CircularStd-Medium.eot?') format('eot'),
			url('../fonts/circularStd/CircularStd-Medium.ttf') format('truetype'),
			url('../fonts/circularStd/CircularStd-Medium.woff') format('woff'),
			url('../fonts/circularStd/CircularStd-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Circular Std';
	font-weight: 700;
	src: 	url('../fonts/circularStd/CircularStd-Bold.eot?') format('eot'),
			url('../fonts/circularStd/CircularStd-Bold.ttf') format('truetype'),
			url('../fonts/circularStd/CircularStd-Bold.woff') format('woff'),
			url('../fonts/circularStd/CircularStd-Bold.woff2') format('woff2');
}

// ? == Josefin Sans ==

@font-face {
	font-family: 'Josefin Sans';
	font-weight: 700;
	src: 	url('../fonts/josefinSans/JosefinSans-Bold.eot?') format('eot'),
			url('../fonts/josefinSans/JosefinSans-Bold.ttf') format('truetype'),
			url('../fonts/josefinSans/JosefinSans-Bold.woff') format('woff'),
			url('../fonts/josefinSans/JosefinSans-Bold.woff2') format('woff2');
}