// ? == Header ==

.header {
	margin-bottom: 112px;

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding-top: 64px;
	}

	&__logo {}

	&__links {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__nav {
		margin-right: 70px;
	}

	&__burger {}
}