// ? == Header ==

.header {
	margin-bottom: 104px;

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding-top: 56px;
	}

	&__logo {}

	&__links {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__nav {
		margin-right: 70px;
	}

	&__burger {}
}

.logo {
	font-family: 'Josefin Sans';
	font-size: 30px;
	font-weight: 700;
	color: $Purple;

	span {
		color: $Pink;
	}
}

.nav {

	&__list {
		display: flex;
		flex-direction: row;
		
	}

	&__item {
		margin-right: 70px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		font-family: 'Circular Std';
		font-size: 20px;
		font-weight: 500;
		color: $Gray-Light;

		&.active {
			color: $Purple;
		}
	}
}

.burger {
	width: 24px;
	height: 24px;

	background-color: $Gray-Light;
	mask: url(../img/icons/burger.svg) center / contain no-repeat;	
}
